/* *********************************************************************************** */
                                /* SOMMAIRE */

                        /* 1. Police Ecriture */
                        /* 2. Couleur */
                        // 3. Sass
                        /* 4. Body */
                        /* 5. Container */
                        /* 6. Header Page accueil*/
                        /* 7. Main Page Accueil*/
                        /* 8. Footer de toutes les pages*/
                        // 9. Load Spinner
                        // 10. MédiaQueries
                        // 11. Layout
                        // 12. SCreens
                        // 13. Main Menu

                                /* Fin Sommaire */
/* ********************************************************************************** */
// 1. Polices Ecriture
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,100;1,300&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,100;1,300&family=Roboto:wght@100;300;900&family=Shrikhand&display=swap');
// 1. Fin Polices Ecriture

// 2. Couleur
$color1: #9556DC;
$color2: #FF79DA;
$color3: #99E2D0;
$color4 : #ffffff;
$color5 : #f2f2f2;
$color6: #000000;
// 2. Fin Couleur

// 3. Sass
// Components
@import 'components/button';
@import 'components/cards';
@import 'components/load_Spinner';
@import 'components/buttonRetour';
// @import 'components/animationMenu';
@import 'components/validation';

// 10. MédiaQueries
@import 'mediaQueries/mediaQueriesTablette';
@import 'mediaQueries/mediaQueriesPortable';
@import 'mediaQueries/mediaQueriesMenuTablette';

// 11. Layout
@import 'layout/container';
@import 'layout/header';
@import 'layout/form';
@import 'layout/main';
@import 'layout/footer';

// 12.Screens
@import 'screens/Menu';

// Fin 3. Sass

// 4. Body
.container {
    width: 100%;
    max-width: 1600px;
    min-width: 320px;
    margin: 0 auto;
    animation:  container 10s;

    @keyframes container {
        0% {
            opacity: 0;
        }       
    }
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

// figure {
//     margin: 0;
// }

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
// 4. Fin Body



