/* *********************************************************************************** */
                                /* SOMMAIRE */

                        /* 1. Police Ecriture */
                        /* 2. Couleur */
                        /* 3. Body */
                        /* 4. Container */
                        /* 5. Header */
                        /* 6. Main */
                        /* 7. Footer */

                                /* Fin Sommaire */
/* ********************************************************************************** */
// 1. Polices Ecriture
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,100;1,300&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,100;1,300&family=Roboto:wght@100&family=Shrikhand&display=swap');
// 1. Fin Polices Ecriture

// 2. Couleur
$color1: #9556DC;
$color2: #FF79DA;
$color3: #99E2D0;
$color4 : #ffffff;
$color5: #000000;
// 2. Fin Couleur

// 3. Body
html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
}
// 3. Fin Body

// 4. Container
.container {
    width: 100%;
}
// 4. Fin Container

// 5. Header
.entete {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.formulaire {
    width: 100%;
    margin: 0 auto;

    .form {
        box-shadow:  inset 0rem 0rem 1rem 3px #444343;
        background-color: rgb(238, 234, 234);
        width: 100%;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        // text-align: center;
    }
    
    input[type=search] {
        font-weight: bold;
        font-size: 2.5rem;
        border: none;
        background: transparent;
        padding :30px 3rem;
        height: 3.5rem;

        &:focus {
            outline: none;
        }

        &::placeholder {
            text-align: center;
        }
    }
    
    .input-icone{
        // width: 40%;
        // margin: 0 auto;
        position: relative;
    }
    
    .input-icone i{
        position:absolute; 
        left: 0rem;
        top: 1rem; 
        color: rgb(68, 67, 67);
    }

    .position {
        font-size: 3.5rem;
    }
}

.grid_container1 {
    background-color: $color3;
    border-radius: 0.2rem;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .title {
        font-size: 3.5rem;
        width: 25%;
        text-align: center;
    }
    
    .title_infos {
        margin-top: 0rem;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .title_button {
        padding: 2rem;
        border-radius: 5rem;
        background-color: $color2;
        color: $color4;
        font-size: 2rem;
        border: transparent;
        box-shadow: 0rem 0rem 0.8rem $color1;
        margin-bottom: 3rem;
        transition: ease 1s .5s;
        
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
            opacity: 0.7;
            box-shadow: 0.5rem 0rem 1.8rem $color1;
        }
    }
}
// 5. Fin Header

// 6. Main
.grid_container2 {
    width: 100%;
    display: flex;
}

.fonctionnement {
    width: 100%;
    
    .fonctionnement_title h2 {
        margin-left: 5rem;
        font-size: 3rem;
        margin-bottom: 5rem;
    }
    
    .fonctionnement_fas  {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-evenly;
    }

    .store {
        color: $color1;
    }
    
    .fonctionnement_fas i {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
    
    .articles_filtres_a {
        position: relative;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        border: transparent;
        background-color: $color3;
        padding: 2rem;
        border-radius: 2rem;
        width: 25%;
        font-size: 2rem;
        transition: ease 1s 0.5s;
        opacity: 0.8;
        color: $color1;
        
        
        &:hover {
            color: $color5;
            font-weight: bold;
            transform: scale(1.1);
            opacity: 1;
            cursor: pointer;
            box-shadow: 0.5rem 0rem 1.8rem $color1;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2rem;
            width: 2rem;
            background-color: $color1;
            border-radius: 50%;
            position: absolute;
            color: #fff;
            font-weight: bold;
            left: -1.5rem;
            top: 1rem;
            padding: 1rem;
        }
    }
}

// Grid_container3
.grid_container3 {
    width: 100%;
    margin-top: 5rem;
    
    .restaurants {
        width: 100%;
        border-radius: 0.2rem;
    }

    .restaurants_title h2 {
        margin-left: 5.5rem;
        padding-top: 1rem;
        font-size: 3rem;
    }

    .container_item {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .container_item a{
        display: flex;
        width: 48%;
    }
    
    figure{
        width: 100%;
        height: 28rem;
        background-color: $color4;
        border-radius: 1rem;
        border: 0.4rem solid $color4;
        position: relative;
        margin-bottom: 5rem;
        box-shadow: 0.1rem 0.1rem rgb(156, 135, 135);
    }
    
    img {
        width: 100%;
        max-width: 100%;
        max-height: 20rem;
        object-fit: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .container_infos {
        position: relative;
    }

    .nouveauter {
        position: absolute;
        border-radius: 0.2rem;
        padding: 0.5rem;
        top: 3rem;
        right:  2rem;
        border: none;
        border-radius: 0.2rem;
        padding: 1rem;
        text-align: center;
        color: #0eb109;
        font-size: 2rem;
        font-weight: bold;
        background-color: #99E2D0;

    }

    figcaption {

        display: flex;
        width: 95%;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1rem;
        
        h4 {
            color: $color5;
            font-size: 2rem;
            
            &:hover {
            transition: .5s ease;
            transform: scale(1.1);
        }
        }

        p {
            font-size: 1.8rem;
            margin-top: -2rem;
            color: $color5;
        
        &:hover {
            transform: scale(1.1);
            transition: .5s ease;
        }
        }

        .fa-heart {
         position: absolute;
         right: 1rem;
         top: 21rem;
         font-size: 4rem;
         color: black;
         padding: 1rem;
         transition: linear 2s;
         
         &::before {
             content: "\f004";
            }
            
         &:hover::before{
                font-weight: bold;
                color: $color1;
                cursor: pointer;
                
            }
        }
        }
}

// Fin Grid_container3
// 6. Fin Main

// 7. Footer
// Grid_container4
.grid_container4 {

    background-color: #353535;
    font-size: 2rem;

    .logo_footer {
       width: 8%;
       margin-top: 3rem;
   }

   ul {
       list-style-type: none;
    }
    
    li {
      padding-bottom: 1rem;

      a {
          display: inline-block;
          &:hover {
        transform: scale(1.1);
        color: $color4;
        transition:.5s ease;
        cursor: pointer;
        }

        &::after {
              content: '';
              display: block;
              height: 1px;
              transition: .5s ease;
        }

        &:hover::after {
        background:$color4;
        }
    }



     }

    a {
       color: $color4;
    }

    i {
        margin-right: 1rem;
    }

    .icon {
        width: 1.5rem;
    }
    

   .description_footer {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       margin-left: 10rem;
   }
}
// FinGrid_container4
// 7. Fin Footer