// Formulaire
.formulaire {
    width: 100%;
    margin: 0 auto;

     .form {
         box-shadow:  inset -1rem 2rem 1rem -2rem #444343;
         background-color: rgb(243, 243, 243);
         width: 100%;
         border-radius: 4px;
         display: flex;
         justify-content: center;
    }
    
     input[type=search] {
         font-weight: bold;
         font-size: 2.5rem;
         border: none;
         background: transparent;
         padding :30px 3rem;
         height: 3.5rem;
         width: 26rem;

         &:focus {
             outline: none;
         }

         &::placeholder {
             text-align: center;
             color: $color6;
         }
     }
    
     .input-icone{
         position: relative;
     }
    
     .input-icone i{
         position:absolute; 
         left: -1rem;
         top: 1rem; 
         color: $color6;
     }

     .position {
         font-size: 3.5rem;
     }
}
// Fin Formulaire