// 6. Header
.entete {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.grid_container1 {
    background-color: rgb(250, 250, 250);
    border-radius: 0.2rem;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'roboto', sans-serif;
    
    h2 {
        font-weight: bold;
        width: 25%;
        text-align: center;
        font-size: 3.5rem;
        margin-top: 2rem;
    }
    
    p {
        font-weight: 600;
        margin-top: 0rem;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
}
// 6. Fin Header