// Boutton 
 .title_button {
        padding: 2rem;
        border-radius: 5rem;
        background: linear-gradient(70deg, rgba(255, 121, 218, 1), rgb(149, 86, 220 ,1));
        color: $color4;
        font-size: 2rem;
        border: transparent;
        box-shadow: 0rem 0rem 0.8rem $color1;
        margin-bottom: 3rem;
        transition: ease-in-out 0.7s ;
        font-weight: bold;
        
        &:hover {
            transform: scale(1.2);
            background: linear-gradient(70deg, rgba(255, 121, 218, 0.8), rgb(149, 86, 220, 0.8));
            cursor: pointer;
            box-shadow: 0.5rem 0rem 1.8rem $color1;
        }
    }
// Fin Boutton