// 9. Load Spinner
.chargement {
    border-top: 1rem solid #bb6b10;
    border-bottom: 2rem solid #E74C3C;
    border-left: 1rem solid #0ce242;
    border-right: 2rem solid #5333e4;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: spinner 4s linear ;
    opacity: 0;

    @keyframes spinner {
        0% {
            transform: rotate(0deg);
            opacity: 1;
        }

        100% {
            transform: rotate(360deg);
            opacity: 1;
        }
        
    }
}

// 9. Fin Load Spinner

