// Load Spinner
.chargement {
    border-top: 1rem solid $color3;
    border-bottom: 1rem solid $color1;
    border-left: 1rem solid $color2;
    border-right: rem solid $color3;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: auto;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: spinner 6s linear ;
    opacity: 0;

    @keyframes spinner {
        100% {
            transform: rotate(1440deg) scale(1.6);
            opacity: 1;
        }
        
    }
}
// Fin Load Spinner

