.progressbar>div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: $color3;
    opacity: 0;
    width: 10rem;
    height: 7.2rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    top: 0rem;
    right: 0rem;
    
 
    @keyframes validator {
        
        0% {
            width: 0%;
            opacity: 0;
        }

        25% {
            width: 0%;
            opacity: 0.2;
        }

        100% {
            opacity: 1;
            width: 18%;
        }
    }
}

.strong {
    margin-right: 0rem;
    
    @keyframes strong {
        0% {
            margin-right: 0rem;
        }
        
        100% {
            margin-right: 7rem;
        }
    }
}

.check {
    font-size: 2.2rem;
    color: white;

    @keyframes check {
       0% {
           transform: rotate(360deg);
           opacity: 0; 
       } 
       100% {
           transform: rotate(0deg);
           opacity: 1; 
       } 
    }
    

}
.clampage {
    font-size: 1.5rem;
    height: 1.8rem;
    text-overflow: ellipsis;
    overflow: hidden;  
    white-space: nowrap;

  @keyframes clamp {
   
      100% {
        text-overflow: ellipsis;
        overflow: hidden;  
        white-space: nowrap;
      }
  }
}

















