@media screen and (max-width: 1050px) {
        body {
            background-color: rgb(23, 211, 64);
        }
       
.submenus {
    display: flex;
    flex-direction: column;
    
  
    #division {
        width: 100%;
    }
    
}
 
    
 
   
}